<div class="container blog-container">
	<h1>Etude</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>

	<p>One of my favorite pastimes, music, and subsequently the creation process with others can be hindered by a very common issue
		I've faced the past few years. Distance between those I enjoy working with in-person can halt a set of ideas or project
		immediately. To assist with ideation, the occasional iPhone recording helps, but can never replace the ferocity an in-person
		session can bring about, and the abundance of ideas constantly thrown around. On a personal level, I've tried working with
		varying ways of mitigating that issue of distance, the best solution so far being an organizational endeavor using online
		hosting tools such as Google Drive and Dropbox.</p>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img z-depth-3" data-caption="My attempt at a Google Drive set-up" src="dist/images/developer/etude/google-drive.png"
		 alt="Google Drive setup" />
		<p>My attempt at a Google Drive set-up</p>
	</div>

	<p>For the
		<a href="https://www.sxsw.com/festivals/music-hackathon/" target="_blank" rel="noopener noreferrer">2016 SXSW Music Hackathon</a>, there were three "hack categories" my partner and I could tackle: Commerce, Creation, and
		Consumer. An idea then sparked from the aforementioned issue, that being of bringing the ideals of software development
		version control into the music creation process. The style of music my scattered group of friends endeavor to create requires
		a large amount of collaboration, in the same way large pieces of software require some form of version control to ensure
		an effective creation process. Taking cues from the most common of these collaboration platforms, GitHub, my partner and
		I's first task was creating mock-ups using
		<a href="https://balsamiq.com/" target="_blank" rel="noopener noreferrer">Balsamiq</a> during our ideation process.</p>

	<div class="responsive-img-text">
		<img class="materialboxed responsive-img z-depth-3" data-caption="Etude's profile page mock-up" src="dist/images/developer/etude/index.html.png"
		 alt="Etude Index Mockup" />
		<p>Etude's profile page mock-up</p>
	</div>

	<h2>Design</h2>

	<p>The general idea was simple: allow users of the platform to create projects (representative of a single song) which contains
		its own history of tracks they can then upload. A track can be an audio file that contains a single component of that song,
		for instance, the drums. We then chose to visualize songs as trees, in which the user could initiate one from the root
		track of the song, and then gradually add nodes/other tracks in branching paths of their choice, either to represent a
		certain format in which the song could take, or to better organize their ideas as a whole.</p>

	<div class="responsive-img-text">
		<img class="materialboxed responsive-img z-depth-3" data-caption="Project Tree view" src="dist/images/developer/etude/etude-tree.png"
		 alt="Etude Project Page" />
		<p>Project Tree view</p>
	</div>

	<p>In the image above, you can get a sense for what we were going for during the Hackathon. Users would sign-on to the web
		application "Etude," create their projects, and head to that project's page as seen above. Utilizing D3.js, once the user
		would upload their initial base track (choosing the title, actual file, etc.) to that project, it would create a root node
		so as to build off that in future states of the song. Then, once more tracks are created and added, the user could choose
		to append those new ideas off into branching paths for grouping their ideas into logical units. As shown in the example
		above, this user chose to create a branch for vocals off the main rhythm, wherein harmonies for two members of the band
		are then added beyond that.</p>

	<p>Once the user adds or edits their new track, a new state of the project tree is then made, allowing a simplistic "versioning"
		of how the song is then growing as a whole. Much like version control in the software world, the intent of Etude's functionality
		was to allow the same remote flexibility between members of the band, whilst still allowing prior versions to be saved
		and reviewed if necessary.</p>

	<h2>Close</h2>

	<p>For the curious, the prototype repository can be found
		<a href="https://github.com/joannenbruno/Etude" target="_blank" rel="noopener noreferrer">here</a>, hopefully with continued work and renewed interest in making the dealings of remote musicians as streamlined
		as possible.</p>

	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>
</div>