<div class="fixed-action-btn" ng-keydown="($event.which === 13) && activate($event)">
	<a class="btn-floating btn-large waves-effect waves-light z-depth-3">
		<i class="zmdi zmdi-plus"></i>
	</a>
	<ul>
		<li>
			<a class="btn-floating red" href="{{fabButtonLinks.email}}" tabindex=0>
				<i class="zmdi zmdi-email"></i>
				<span class="sr-only">E-Mail address</span>
			</a>
		</li>
		<li>
			<a class="btn-floating amber" href="{{fabButtonLinks.file}}" target="_blank" rel="noopener noreferrer" tabindex=0>
				<i class="zmdi zmdi-file-text"></i>
				<span class="sr-only">Résumé</span>
			</a>
		</li>
		<li>
			<a class="btn-floating black" href="{{fabButtonLinks.github}}" target="_blank" rel="noopener noreferrer" tabindex=0>
				<i class="zmdi zmdi-github"></i>
				<span class="sr-only">GitHub</span>
			</a>
		</li>
		<li>
			<a class="btn-floating blue" href="{{fabButtonLinks.linkedin}}" target="_blank" rel="noopener noreferrer" tabindex=0>
				<i class="zmdi zmdi-linkedin-box"></i>
				<span class="sr-only">LinkedIn</span>
			</a>
		</li>
	</ul>
</div>

<header class="header-dev">
	<div>
		<a class="avatar" href="{{softwareHeaderLink.url}}" target="_blank">
			<img class="headshot-dev" src="{{developerHeadshot.url}}" alt="{{developerHeadshot.alt}}" />
		</a>
		<h1>Jeremy A. Cantu</h1>
		<a class="ghost-button" href="{{softwareHeaderLink.url}}" target="_blank" rel="noopener noreferrer">Software Developer</a>
	</div>
</header>

<div class="container">

	<!-- Switch -->
	<div class="switch">
		<label ng-click="go('/photographer')">
			Developer
			<input type="checkbox">
			<span class="lever"></span>
			Photographer
		</label>
	</div>

	<div class="section-projects">
		<h1>Selection of Projects</h1>
		<hr>

		<!-- Project Cards -->
		<div class="row">

			<!-- SkillSet Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/skillset/skillset.png" alt="skillset-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">SkillSet
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>✨ Intuitive job-candidate skill visualization tool</p>
					</div>

					<div class="card-action">
						<a href="https://github.com/Jac21/SkillSet" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a class="more-info-link" ng-click="go('/skillset')" tabindex=0 ng-keydown="($event.which === 13) && go('/skillset')">More information...</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>Intuitive job-candidate skill visualization tool, taking advantage of
							<a href="https://d3js.org/" target="_blank" rel="noopener noreferrer">D3.js</a> and
							<a href="https://jsonresume.org/" target="_blank" rel="noopener noreferrer">JSONResume</a>.
							<br>
							<br> Live site:
							<a href="https://jac21.github.io/SkillSet/" target="_blank" rel="noopener noreferrer">https://jac21.github.io/SkillSet/</a>
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br> HTML5
							<br>CSS
							<br>JavaScript
							<br>Fetch API
							<br>D3.js</p>
						<p class="card-link more-info-link">
							<a ng-click="go('/skillset')">Click here to learn about the development process...</a>
						</p>
					</div>

				</div>

			</div>

			<!-- RepoNotes Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/reponotes/reponotes.png" alt="reponotes-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">RepoNotes
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>📝 Small ideation and informal task-tracking tool for your GitHub repositories </p>
					</div>

					<div class="card-action">
						<a href="https://github.com/Jac21/reponotesreact" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a class="more-info-link" ng-click="go('/reponotes')" tabindex=0 ng-keydown="($event.which === 13) && go('/reponotes')">More information...</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>Small ideation and informal task-tracking tool for your GitHub repositories. Fetches repository data, displaying an
							accompanying form element for each repo and allows the user to save notes to their browser's local storage for each
							repo individually, keeping track of project ideation. Also includes an option to export their notes to a text file
							if necessary, as well as offline editing support.
							<br>
							<br> Live site:
							<a href="https://reponotes.com/" target="_blank" rel="noopener noreferrer">https://reponotes.com</a>
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br>React
							<br>Webpack and Babel
							<br>glamor inline css library and turretcss
							<br>Local Storage API
							<br>ESLint, Prettier, and sw-precache</p>
						<p class="card-link more-info-link">
							<a ng-click="go('/reponotes')">Click here to learn about the development process...</a>
						</p>
					</div>

				</div>

			</div>

			<!-- Etude Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/etude/etude.jpg" alt="etude-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Etude
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>🎸 Music collaboration and "version-control" web application</p>
					</div>

					<div class="card-action">
						<a href="https://github.com/joannenbruno/Etude" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a class="more-info-link" ng-click="go('/etude')" tabindex=0 ng-keydown="($event.which === 13) && go('/etude')">More information...</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>Music collaboration and "version-control" web application.
							<a href="https://www.sxsw.com/festivals/music-hackathon/" target="_blank" rel="noopener noreferrer">SXSW Music Hackthon 2016</a> project, intended to allow musicians to collaborate and visualize their creations across
							any distance.
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br>Node.js
							<br>Express/Passport
							<br>MongoDB/Mongoose
							<br>Gulp
							<br>HTML5
							<br>CSS3
							<br>JavaScript
							<br>jQuery
							<br>D3.js</p>
						<p class="card-link more-info-link">
							<a ng-click="go('/etude')">Click here to learn about the development process...</a>
						</p>
					</div>

				</div>

			</div>

			<!-- TFSToolset Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/tfstoolset/tfstoolset.png" alt="tfstoolset-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">TFSToolset
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>🛠 Windows Presentation Foundation desktop-application for easy internal Team Foundation Server management
						</p>
					</div>

					<div class="card-action">
						<a href="https://github.com/Jac21/TFSToolset" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a class="more-info-link" ng-click="go('/tfstoolset')" tabindex=0 ng-keydown="($event.which === 13) && go('/tfstoolset')">More information...</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>Windows Presentation Foundation desktop-application for easy internal Team Foundation Server management. WPF application,
							built in Visual Studio 2013, utilizing the MahApps.Metro toolkit for Metro-style UI design. Allows the user to easily
							add query sub-folders to specified TFS projects, as well as copying queries from one sub-folder to another, making
							sprint and iteration query management seamless. Also allows the user to rename specific text within queries (i.e.,
							"Sprint 14" to "Sprint 15") for more efficient sprint-to-sprint query usage.
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br>C#
							<br>Windows Presentation Foundation
							<br>XAML</p>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="section-divider"></div>

	<div class="section-libraries-and-packages">
		<h1>Selection of Libraries & Packages</h1>
		<hr>

		<!-- Libraries & Packages Cards -->
		<div class="row">

			<!-- CacheLiteSharp Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/libs/cachelitesharp/logo.png" alt="cachelitesharp-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">CacheLiteSharp
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>📂 A variety of cache implementations, all in .NET C#</p>
					</div>

					<div class="card-action">
						<a href="https://github.com/Jac21/CacheLiteSharp" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a href="https://www.nuget.org/packages/CacheLiteSharp/" target="_blank" rel="noopener noreferrer">Nuget Package</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>A variety of cache implementations, all in .NET C#
							<br>
							<br> Cache implementations include Perpetual, Least Recently Used, and Expirable.
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br>C# 7.0
							<br>NUnit
						</p>
					</div>

				</div>

			</div>

			<!-- react-cinemagraph Card -->
			<div class="col s12 m6">

				<div class="card sticky-action medium hoverable">

					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="dist/images/developer/libs/reactcinemagraph/logo.png" alt="react-cinemagraph-activator">
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">react-cinemagraph
							<i class="zmdi zmdi-more pull-right"></i>
						</span>
						<p>🎬 Generic Cinemagraph component, built for React. </p>
					</div>

					<div class="card-action">
						<a href="https://github.com/Jac21/react-cinemagraph" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
						<a href="https://www.npmjs.com/package/react-cinemagraph" target="_blank" rel="noopener noreferrer">NPM Package</a>
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Description
							<i class="zmdi zmdi-close pull-right"></i>
						</span>
						<p>Generic Cinemagraph component, built for React.
							<br>
							<br> Demo site:
							<a href="https://jac21.github.io/react-cinemagraph-demo/" target="_blank" rel="noopener noreferrer">https://jac21.github.io/react-cinemagraph-demo/</a>
							<br>
							<br>
							<strong>Technologies utilized</strong>:
							<br>React
							<br>CSS3
							<br>Webpack and Babel
							<br>nwb</p>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="section-divider"></div>

	<div class="section-talks">
		<div class="row">

			<h1>Talks and Presentations</h1>
			<hr>

			<div class="col s12 m12 talk-div">
				<a href="../../assets/documents/iNNOVATIONS_2018_REST_API_Update.pdf" target="_blank" rel="noopener noreferrer">
					<img class="responsive-img z-depth-2 talk-image" src="dist/images/developer/talks/iNNOVATIONS-2018-REST-API-Update.PNG" alt="iNNOVATIONS 2018 REST API Update"
					/>
				</a>
				<p>Presented for the Advanced Solutions International iNNOVATIONS 2018 conference in Orlando, Florida on March 7th, 2018</p>
			</div>

			<div class="col s12 m12 talk-div">
				<a href="https://jac21.github.io/Presentations/The%20Dorm%20Room%20Hackathon%20Tech%20Talk%20-%20Strengthening%20Your%20Build%20Flow%20with%20Gulp.js/#/"
				 target="_blank" rel="noopener noreferrer">
					<img class="responsive-img z-depth-2 talk-image" src="dist/images/developer/talks/gulp-talk.PNG" alt="Strengthening Your Build Flow with Gulp.js"
					/>
				</a>
				<p>Presented for the Dell internal "Dorm Room Hackathon" for Summer interns on July 21st, 2016</p>
			</div>

			<div class="col s12 m12 talk-div">
				<a href="https://jac21.github.io/Presentations/UISD%20Career%20Day%204-21-2016/#/" target="_blank" rel="noopener noreferrer">
					<img class="responsive-img z-depth-2 talk-image" src="dist/images/developer/talks/superpowers-talks.PNG" alt="HOW TO GET SUPERPOWERS - A CAREER DAY PRESENTATION ON COMPUTER SCIENCE"
					/>
				</a>
				<p>Presented for United Independent School District elementary school children's "Career Day" on April 21st, 2016</p>
			</div>

		</div>
	</div>

</div>