<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large">
    <i class="zmdi zmdi-account-add"></i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="mailto:mail@jeremycantu.com"><i class="zmdi zmdi-email"></i></a></li>
    <li><a class="btn-floating amber" href="https://jac21.github.io" target="_blank" rel="noopener noreferrer"><i class="zmdi zmdi-file-text"></i></a></li>
    <li><a class="btn-floating black" href="https://www.github.com/Jac21" target="_blank" rel="noopener noreferrer"><i class="zmdi zmdi-github"></i></a></li>
    <li><a class="btn-floating blue" href="https://www.linkedin.com/in/jeremycantu" target="_blank" rel="noopener noreferrer"><i class="zmdi zmdi-linkedin-box"></i></a></li>
  </ul>
</div>

<header class="header-dev">
	<div>
		<img class="headshot-dev" src="dist/images/developer/headshot-dev.png" alt="headshot-dev"/>
		<h1>Jeremy A. Cantu</h1>
		<a href="https://www.github.com/Jac21" target="_blank" rel="noopener noreferrer">Software Developer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/photographer')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Photographer
    </label>
  </div>

  <h1>Selection of Projects</h1>
  <hr>

  <!-- Project Cards -->
	<div class="row">

		<!-- SkillSet Card -->
		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/skillset/skillset.png">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">SkillSet<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Intuitive job-candidate skill visualization tool</p>
		    </div>

		    <div class="card-action">
        	<a href="https://github.com/Jac21/SkillSet" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class="more-info-link" ng-click="go('/skillset')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Intuitive job-candidate skill visualization, taking advantage of <a href="https://d3js.org/" target="_blank" rel="noopener noreferrer">D3.js</a> and <a href="https://jsonresume.org/" target="_blank" rel="noopener noreferrer">JSONResume</a>. <br><br>
Live site: <a href="https://jac21.github.io/SkillSet/" target="_blank" rel="noopener noreferrer">https://jac21.github.io/SkillSet/</a> <br><br> List of technologies utilized: <br> HTML5<br>CSS<br>JavaScript<br>jQuery<br>D3.js</p>
					<p class="card-link more-info-link"><a ng-click="go('/skillset')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

		<!-- Etude Card -->
	  <div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/etude/etude.jpg">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Etude<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Music collaboration web application</p>
		    </div>

		    <div class="card-action">
        	<a href="https://github.com/joannenbruno/Etude" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/etude')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p><a href="https://www.sxsw.com/festivals/music-hackathon/" target="_blank" rel="noopener noreferrer">SXSW Music Hackthon 2016</a> project, intended to allow musicians to collaborate and visualize their creations across any distance. <br><br>List of technologies utilized: <br>Node.js<br>Express<br>HTML5<br>CSS3<br>JavaScript<br>jQuery<br>D3.js</p>
		      <p class="card-link more-info-link"><a ng-click="go('/etude')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

		<!-- RepoNotes Card -->
	  <div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/reponotes/reponotes.png">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">RepoNotes<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Ideation-assister for GitHub repositories</p>
		    </div>

		    <div class="card-action">
        	<a href="https://github.com/Jac21/RepoNotes" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/reponotes')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Small notes-taking and ideation assister for your GitHub repositories. Fetches repository data, displaying an accompanying form element for each repo and allows the user to save notes to their browser's local storage for each repo individually, keeping track of project ideation. Also includes an option to export their notes to a text file if necessary.<br><br>List of technologies utilized: <br>HTML5 (Local Storage API)<br>CSS3<br>JavaScript<br>Bootstrap</p>
		      <p class="card-link more-info-link"><a ng-click="go('/reponotes')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

		<!-- TFSToolset Card -->
	  <div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/tfstoolset/tfstoolset.png">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">TFSToolset<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>WPF application for TFS query management</p>
		    </div>

		    <div class="card-action">
        	<a href="https://github.com/Jac21/TFSToolset" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/tfstoolset')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>WPF application, built in Visual Studio 2013, utilizing the MahApps.Metro toolkit for Metro-style UI design. Allows the user to easily add query sub-folders to specified TFS projects, as well as copying queries from one sub-folder to another, making sprint and iteration query management seamless. Also allows the user to rename specific text within queries (i.e., "Sprint 14" to "Sprint 15") for more efficient sprint-to-sprint query usage. <br><br>List of technologies utilized: <br>C#<br>WPF<br>XAML</p>
		      <p class="card-link more-info-link"><a ng-click="go('/tfstoolset')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

	</div>
</div>