<header class="header-photo">
  <div>
    <a
      class="photographer-avatar"
      href="{{photographerHeaderLink.url}}"
      target="_blank"
    >
      <img
        class="headshot-photo"
        src="{{photographerHeadshot.url}}"
        alt="{{photographerHeadshot.alt}}"
      />
    </a>
    <h1>Jeremy A. Cantú</h1>
    <a
      class="ghost-button"
      href="{{photographerHeaderLink.url}}"
      target="_blank"
      rel="noopener noreferrer"
      >Photographer</a
    >
  </div>
</header>

<div class="container">
  <!-- Switch -->
  <div class="switch checked">
    <label ng-click="go('/developer')">
      Developer
      <input checked type="checkbox" />
      <span class="lever"></span>
      Photographer
    </label>
  </div>

  <div class="section-photos">
    <h1>Selection of Photos</h1>
    <hr />

    <div class="row">
      <div class="col s12 m6" ng-repeat="image in images">
        <responsive-image></responsive-image>
      </div>
    </div>
  </div>

  <div class="section-divider"></div>

  <div class="section-shoots">
    <h1>Photo Shoots</h1>
    <hr class="thematic-break-shoot" />

    <div class="row shoot-container">
      <div class="col s12">
        <div class="page-nav-options">
          <h2
            ng-click="go('/vera-photoshoot')"
            class="caption"
            tabindex="0"
            ng-keydown="($event.which === 13) && go('/vera-photoshoot')"
          >
            Vera
          </h2>
        </div>
        <div>
          <div class="image-overlay-container">
            <i
              class="zmdi zmdi-collection-plus zmdi-hc-5x pull-right"
              ng-click="go('/vera-photoshoot')"
              tabindex="0"
              ng-keydown="($event.which === 13) && go('/vera-photoshoot')"
            ></i>
          </div>
          <img
            ng-click="go('/vera-photoshoot')"
            class="responsive-img z-depth-3 shoot-main-img"
            src="dist/images/photographer/photos/Shoots/Vera/DSC_2016.png"
            alt="Vera"
          />
        </div>
      </div>
    </div>

    <div class="row shoot-container">
      <div class="col s12">
        <div class="page-nav-options">
          <h2
            ng-click="go('/japan-photoshoot')"
            class="caption"
            tabindex="0"
            ng-keydown="($event.which === 13) && go('/japan-photoshoot')"
          >
            Japan in Film
          </h2>
        </div>
        <div>
          <div class="image-overlay-container">
            <i
              class="zmdi zmdi-collection-plus zmdi-hc-5x pull-right"
              ng-click="go('/japan-photoshoot')"
              tabindex="0"
              ng-keydown="($event.which === 13) && go('/japan-photoshoot')"
            ></i>
          </div>
          <img
            ng-click="go('/japan-photoshoot')"
            class="responsive-img z-depth-3 shoot-main-img"
            src="dist/images/photographer/photos/Shoots/Japan/000070750028.jpg"
            alt="Japan in Film"
          />
        </div>
      </div>
    </div>

    <div class="row shoot-container">
      <div class="col s12">
        <div class="page-nav-options">
          <h2
            ng-click="go('/puerto-rico-photoshoot')"
            class="caption"
            tabindex="0"
            ng-keydown="($event.which === 13) && go('/puerto-rico-photoshoot')"
          >
            Puerto Rico in Film
          </h2>
        </div>
        <div>
          <div class="image-overlay-container">
            <i
              class="zmdi zmdi-collection-plus zmdi-hc-5x pull-right"
              ng-click="go('/puerto-rico-photoshoot')"
              tabindex="0"
              ng-keydown="($event.which === 13) && go('/puerto-rico-photoshoot')"
            ></i>
          </div>
          <img
            ng-click="go('/puerto-rico-photoshoot')"
            class="responsive-img z-depth-3 shoot-main-img"
            src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E021.jpg"
            alt="Puerto Rico in Film"
          />
        </div>
      </div>
    </div>

    <div class="row shoot-container">
      <div class="col s12">
        <div class="page-nav-options">
          <h2
            ng-click="go('/washington-photoshoot')"
            class="caption"
            tabindex="0"
            ng-keydown="($event.which === 13) && go('/washington-photoshoot')"
          >
            Washington in Film
          </h2>
        </div>
        <div>
          <div class="image-overlay-container">
            <i
              class="zmdi zmdi-collection-plus zmdi-hc-5x pull-right"
              ng-click="go('/washington-photoshoot')"
              tabindex="0"
              ng-keydown="($event.which === 13) && go('/washington-photoshoot')"
            ></i>
          </div>
          <img
            ng-click="go('/washington-photoshoot')"
            class="responsive-img z-depth-3 shoot-main-img"
            src="dist/images/photographer/photos/Shoots/Washington/3225040254-R1-E006.jpg"
            alt="Washington in Film"
          />
        </div>
      </div>
    </div>

    <div class="row shoot-container">
      <div class="col s12">
        <div class="page-nav-options">
          <h2
            ng-click="go('/puerto-rico-2024-photoshoot')"
            class="caption"
            tabindex="0"
            ng-keydown="($event.which === 13) && go('/puerto-rico-2024-photoshoot')"
          >
            Puerto Rico in Film - 2024
          </h2>
        </div>
        <div>
          <div class="image-overlay-container">
            <i
              class="zmdi zmdi-collection-plus zmdi-hc-5x pull-right"
              ng-click="go('/puerto-rico-2024-photoshoot')"
              tabindex="0"
              ng-keydown="($event.which === 13) && go('/puerto-rico-2024-photoshoot')"
            ></i>
          </div>
          <img
            ng-click="go('/puerto-rico-2024-photoshoot')"
            class="responsive-img z-depth-3 shoot-main-img"
            src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5608041502-R1-E006.jpg"
            alt="Puerto Rico in Film - 2024"
          />
        </div>
      </div>
    </div>
  </div>
</div>
