<header id="header-dev">
	<div>
		<img id="headshot-dev" src="images/developer/headshot-dev.png" alt="headshot-dev"/>
		<h1>Jeremy A. Cantu</h1>
		<a href="https://www.github.com/Jac21" target="_blank" rel="noopener">Software Developer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/photographer')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Photographer
    </label>
  </div>

  <h1>Selection of Projects</h1>
  <hr>

  <!-- Project Cards -->
	<div class="row">

		<!-- SkillSet Card -->
		<div class="col s12 m6">
			<div class="card medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="images/developer/skillset.png">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">SkillSet<i class="material-icons right">more_vert</i></span>
		      <p><a href="https://github.com/Jac21/SkillSet" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p><a ng-click="go('/skillset')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p>Intuitive job-candidate skill visualization, taking advantage of <a href="https://d3js.org/" target="_blank" rel="noopener">D3.js</a> and <a href="https://jsonresume.org/" target="_blank" rel="noopener">JSONResume</a>. <br><br>
Live site: <a href="https://jac21.github.io/SkillSet/" target="_blank" rel="noopener">https://jac21.github.io/SkillSet/</a> <br><br> List of technologies utilized: <br> HTML<br>CSS<br>JavaScript<br>jQuery<br>D3.js</p>
		    </div>
		  </div>
		</div>

		<!-- Etude Card -->
	  <div class="col s12 m6">
	  	<div class="card medium hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="images/developer/etude.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Etude<i class="material-icons right">more_vert</i></span>
		      <p><a href="https://github.com/joannenbruno/Etude" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p><a ng-click="go('/etude')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p>SXSW Music Hackthon 2016 project, intended to allow musicians to collaborate and visualize their creations across any distance. <br><br>List of technologies utilized: <br>HTML<br>CSS<br>JavaScript<br>jQuery<br>D3.js<br>Node.js<br>Express</p></p>
		    </div>
		  </div>
		</div>

	</div>
</div>