<header class="header-dev">
	<div>
		<img class="headshot-dev" src="dist/images/developer/headshot-dev.png" alt="headshot-dev"/>
		<h1>Jeremy A. Cantu</h1>
		<a href="https://www.github.com/Jac21" target="_blank" rel="noopener">Software Developer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/photographer')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Photographer
    </label>
  </div>

  <h1>Selection of Projects</h1>
  <hr>

  <!-- Project Cards -->
	<div class="row">

		<!-- SkillSet Card -->
		<div class="col s12 m6">
			<div class="card medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/skillset/skillset.png">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">SkillSet<i class="material-icons right">more_vert</i></span>
		      <p class="card-link"><a href="https://github.com/Jac21/SkillSet" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p class="card-link more-info-link"><a ng-click="go('/skillset')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p>Intuitive job-candidate skill visualization, taking advantage of <a href="https://d3js.org/" target="_blank" rel="noopener">D3.js</a> and <a href="https://jsonresume.org/" target="_blank" rel="noopener">JSONResume</a>. <br><br>
Live site: <a href="https://jac21.github.io/SkillSet/" target="_blank" rel="noopener">https://jac21.github.io/SkillSet/</a> <br><br> List of technologies utilized: <br> HTML<br>CSS<br>JavaScript<br>jQuery<br>D3.js</p>
		    </div>
		  </div>
		</div>

		<!-- Etude Card -->
	  <div class="col s12 m6">
	  	<div class="card medium hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/etude/etude.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Etude<i class="material-icons right">more_vert</i></span>
		      <p class="card-link"><a href="https://github.com/joannenbruno/Etude" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p class="card-link more-info-link"><a ng-click="go('/etude')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p><a href="https://www.sxsw.com/festivals/music-hackathon/" target="_blank" rel="noopener">SXSW Music Hackthon 2016</a> project, intended to allow musicians to collaborate and visualize their creations across any distance. <br><br>List of technologies utilized: <br>Node.js<br>Express<br>HTML5<br>CSS3<br>JavaScript<br>jQuery<br>D3.js</p>
		    </div>
		  </div>
		</div>

		<!-- Etude Card -->
	  <div class="col s12 m6">
	  	<div class="card medium hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/reponotes/reponotes.png">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">RepoNotes<i class="material-icons right">more_vert</i></span>
		      <p class="card-link"><a href="https://github.com/Jac21/RepoNotes" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p class="card-link more-info-link"><a ng-click="go('/reponotes')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p>Small notes-taking and ideation assister for your GitHub repositories. Fetches repository data, displaying an accompanying form element for each repo and allows the user to save notes to their browser's local storage for each repo individually, keeping track of project ideation. Also includes an option to export their notes to a text file if necessary.<br><br>List of technologies utilized: <br>HTML5 (Local Storage API)<br>CSS3<br>JavaScript<br>Bootstrap</p>
		    </div>
		  </div>
		</div>

		<!-- Etude Card -->
	  <div class="col s12 m6">
	  	<div class="card medium hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/developer/tfstoolset/tfstoolset.png">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">TFSToolset<i class="material-icons right">more_vert</i></span>
		      <p class="card-link"><a href="https://github.com/Jac21/TFSToolset" target="_blank" rel="noopener">GitHub Repository</a></p>
		      <p class="card-link more-info-link"><a ng-click="go('/tfstoolset')">More information...</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
		      <p>WPF application, built in Visual Studio 2013, utilizing the MahApps.Metro toolkit for Metro-style UI design. Allows the user to easily add query sub-folders to specified TFS projects, as well as copying queries from one sub-folder to another, making sprint and iteration query management seamless. Also allows the user to rename specific text within queries (i.e., "Sprint 14" to "Sprint 15") for more efficient sprint-to-sprint query usage. <br><br>List of technologies utilized: <br>C#<br>WPF<br>XAML</p>
		    </div>
		  </div>
		</div>

	</div>
</div>