<header id="header-photo">
	<div>
		<img id="headshot-photo" src="dist/images/photographer/headshot-photo.jpg" alt="headshot-photo"/>
		<h1>Jeremy A. Cantu</h1>
		<a href="https://jac21.github.io/AmateurPhotoGraphy/#/photos" target="_blank" rel="noopener">Photographer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch checked">
    <label ng-click="go('/developer')">
      Developer
      <input checked type="checkbox">
     	<span class="lever"></span>
      Photographer
    </label>
  </div>

  <h1>Selection of Photos</h1>
  <hr>

  <div class="row">
   	<div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_0063-min.JPG" alt="Graffiti Park"/>
	  </div>

  	<div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_1201.jpg" alt="Puerto Rico"/>
	  </div>

	  <div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_0358-min.JPG" alt="Hamilton Pool"/>
	  </div>

  	<div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_0353-min.JPG" alt="Hamilton Pool"/>
	  </div>


	  <div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_0453-min.JPG" alt="Hamilton Pool"/>
	  </div>

	  <div class = "col s12 m6">
	  	<img class="responsive-img z-depth-2" src="dist/images/photographer/photos/DSC_0631.jpg" alt="Anamanaguchi"/>
	  </div>
  </div>
</div>