<header id="header-photo">
	<div id = "header-content">
		<img id="headshot-photo" src="images/photographer/headshot-photo.jpg" alt="headshot-photo"/>
		<h1>Jeremy A. Cantu</h1>
		<a href="https://jac21.github.io/AmateurPhotoGraphy/#/photos" target="_blank" rel="noopener">Photographer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch checked">
    <label ng-click="go('/developer')">
      Developer
      <input checked type="checkbox">
     	<span class="lever"></span>
      Photographer
    </label>
  </div>

  <img src="images/photographer/photos/DSC_0358-min.JPG" alt="Hamilton Pool"/>
  <img src="images/photographer/photos/DSC_0353-min.JPG" alt="Hamilton Pool"/>
  <img src="images/photographer/photos/DSC_0453-min.JPG" alt="Hamilton Pool"/>
  <img src="images/photographer/photos/DSC_00Temp.jpg" alt="Puerto Rico"/>
  <img src="images/photographer/photos/File_000-min.jpeg" alt="Anamanaguchi"
</div>