<div class="container">
	<h1>SkillSet</h1>
	<hr>
	<p>Soon after graduation, I found myself scrambling to build my resume, build a network of contacts, gain valuable insight into the hiring process, and basically be in a good position to obtain a job or start a career with a strong backing and portfolio at my disposal. Whilst perusing for better ways of managing the myriad of methods resumes are created and maintained, I came across <a href="https://jsonresume.org/" target="_blank" rel="noopener">JSON Resume</a>.</p>

	<img class = "responsive-img" src = "images/developer/json-resume.PNG" alt="JSON Resume homepage"/>

	<p>JSON Resume is a fantastic idea. The basic premise involves collecting and formatting pieces of information commonly associated with resumes (anything from basic contact information, to education and skills) into a JSON object. This object can then be used to generate PDF copies or websites of a resume with a variety of themes, and create a standard for developers to share that information.</p>
</div>