<div class="container">
  <h1>Austin in Film - Summer, 2024</h1>
  <p class="shoot-text">
    Taken throughout Austin and Central Texas [Rollei 35 // Mamiya C220 //
    Various Film Stocks]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/9154043622-R1-E001.jpg"
        alt="Blanton Museum of Art in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/9154043622-R1-E005.jpg"
        alt="Blanton Museum of Art in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/9154043622-R1-E006.jpg"
        alt="Blanton Museum of Art in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/9154043622-R1-E004.jpg"
        alt="Blanton Museum of Art in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/0000887_0000887-R1-024-10A.jpg"
        alt="Deep Eddy Municipal Pool in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/0000887_0000887-R1-036-16A.jpg"
        alt="Deep Eddy Municipal Pool in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/0000887_0000887-R1-060-28A.jpg"
        alt="Deep Eddy Municipal Pool in Austin, Texas"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/0000886_0000886-R1-011-4.jpg"
        alt="Gormon Falls"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Austin Summer 2024/0000886_0000886-R1-009-3.jpg"
        alt="Gormon Falls"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
