<div class="container">
  <h1>Ireland in Film - Spring, 2025</h1>
  <p class="shoot-text">
    Taken throughout Dublin & County Meath [Canon AE-1 // Kodak Portra 800]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-054-25A.jpg"
        alt="Trinity College Dublin, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-056-26A.jpg"
        alt="Trinity College Dublin, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-012-4A.jpg"
        alt="St Patrick's Cathedral, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-014-5A.jpg"
        alt="Canon Court, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-030-13A.jpg"
        alt="Dublin Castle, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6078433077-R1-046-21A.jpg"
        alt="Dublin Castle, Dublin, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6077433075-R1-042-19A.jpg"
        alt="Cabra Castle, Ireland"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Ireland2025/6077433075-R1-054-25A.jpg"
        alt="Cabra Castle, Ireland"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
