<div class="container">
  <h1>Japan & Taiwan, 2024, in Film</h1>
  <p class="shoot-text">
    Taken throughout Japan & Taiwan [Canon AE-1 // Various Film Stocks]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/THDBE5448.png"
        alt="Tokyo Skytree, Tokyo, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/CDBJE1425.png"
        alt="Sensō-ji, Tokyo, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/UECOE9982.png"
        alt="Hirosaki Castle, Aomori, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/NFYCE0269.png"
        alt="Mount Iwaki, Aomori, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/5895005338-r1-022-9a.png"
        alt="Noboribetsu Jigokudani Valley, Hokkaido, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/SIZPE8945.png"
        alt="Noboribetsu Jigokudani Valley, Hokkaido, Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/BFUNE1748.png"
        alt="Chiji Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/AMSEE6168.png"
        alt="Dragon and Tiger Pagodas, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/FUTHE2223.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/BEHBE8326.png"
        alt="Liantan Road, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/ICNSE5604.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/EQYGE9476.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/NSEHE5936.png"
        alt="Ruifeng Night Market, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/WWNRE9164.png"
        alt="Houtong Cat Village, New Taipei City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/METEE2949.png"
        alt="Raohe Street Night Market, Taipei, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/WXUVE0505.png"
        alt="Datong District, Taipei, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/MUUDE4708.png"
        alt="Datong District, Taipei, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan-Taiwan 2024/NKQNE6037.png"
        alt="Datong District, Taipei, Taiwan"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
