<div class="container">
  <h1>Japan in Film</h1>
  <p class="shoot-text">
    Taken throughout Japan [Kodak Ultra F9 // Kodak Gold 200 & Kodak Ultramax
    400 Color Negative]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070700009.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070700010.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070710015.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070710021.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070710022.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070720025.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070720026.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070740027.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070740031.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750002.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750004.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750028.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750031.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750033.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070750034.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070760008.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070760026.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070760030.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Japan/000070770027.jpg"
        alt="Japan"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
