<div class="container">
  <h1>Puerto Rico in Film</h1>
  <p class="shoot-text">
    Taken throughout Puerto Rico [Rollei 35 // NoColorStudio no.10 Wide
    Spectrum, CineStill 50Daylight Color Negative & Wolfen Nc500]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E007.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E010.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E012.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E014.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E019.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E021.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/0009797_0009797-R1-E029.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/000295350022.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/000295350047.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/000295350065.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico/000295350073.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
