<div class="container">
  <h1>Puerto Rico in Film - 2024</h1>
  <p class="shoot-text">
    Taken throughout Puerto Rico [Rollei 35 // Various Film Stocks]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5532041507-R1-E012.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5532041507-R1-E034.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5612041506-R1-E005.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5612041506-R1-E010.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5611041505-R1-022-9A.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5611041505-R1-028-12A.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5609041503-R1-040-18A.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5609041503-R1-056-26A.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5575041509-R1-E003.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5575041509-R1-E015.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5608041502-R1-E006.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Puerto Rico 2024/5608041502-R1-E028.jpg"
        alt="Puerto Rico"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
