<div class="container">
  <h1>Taiwan, 2024, in Film</h1>
  <p class="shoot-text">
    Taken throughout Taiwan [Canon AE-1 // Various Film Stocks]
  </p>
  <div class="page-nav-options">
    <div
      ng-click="go('/photographer')"
      class="header-back-link"
      tabindex="0"
      ng-keydown="($event.which === 13) && go('/photographer')"
    >
      Back
    </div>
  </div>
  <hr />

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/BFUNE1748.png"
        alt="Chiji Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/AMSEE6168.png"
        alt="Dragon and Tiger Pagodas, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/FUTHE2223.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/BEHBE8326.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/ICNSE5604.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/EQYGE9476.png"
        alt="Zuoying Chiming Temple, Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/NSEHE5936.png"
        alt="Kaohsiung City, Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/WWNRE9164.png"
        alt="Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/METEE2949.png"
        alt="Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/WXUVE0505.png"
        alt="Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/MUUDE4708.png"
        alt="Taiwan"
      />
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="col s12">
      <img
        class="responsive-img z-depth-3 shoot-img"
        src="dist/images/photographer/photos/Shoots/Taiwan 2024/NKQNE6037.png"
        alt="Taiwan"
      />
    </div>
  </div>

  <div class="page-nav-options">
    <div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
  </div>
</div>
