<div class = "container animated fadeIn">
	<h1>Vera</h1>
	<div ng-click="go('/photographer')" class="header-back-link">Back</div>
	<hr>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/Vera1200.jpg" alt="Vera"/>
	</div>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_1958.png" alt="Vera"/>
	</div>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_1999.png" alt="Vera"/>
	</div>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2013.png" alt="Vera"/>
	</div>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2016.png" alt="Vera"/>
	</div>

	<div class = "col s12">
		<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2038.png" alt="Vera"/>
	</div>

</div>