<div class="container">
	<h1>Vera</h1>
	<p class="shoot-text">Taken in Walnut Creek Metro Park in Austin, Texas - Modeled by Vera Zhou</p>
	<div class="page-nav-options">
		<div ng-click="go('/photographer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/photographer')">Back</div>
	</div>
	<hr>

	<div class="animated fadeIn">
		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/Vera1200.jpg" alt="Vera one"
			/>
		</div>

		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_1958.jpg" alt="Vera two"
			/>
		</div>

		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_1999.jpg" alt="Vera three"
			/>
		</div>

		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2013.jpg" alt="Vera four"
			/>
		</div>

		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2016.jpg" alt="Vera five"
			/>
		</div>

		<div class="col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/Shoots/Vera/DSC_2038.jpg" alt="Vera six"
			/>
		</div>
	</div>

	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>
</div>