/*
  Header element styles
*/

.header-dev {
  background-color: #263d36;
  background-image: url("../dist/images/developer/developer-header.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 3.1;
  padding: 10vw 2em;
  text-align: center;
}

.header-photo {
  background-color: #263d36;
  background-image: url("../dist/images/photographer/photo-banner-min_redux.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1;
  padding: 10vw 1em;
  text-align: center;
}

.headshot-dev {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
  border-radius: 100px;
}

.headshot-photo {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  width: 220px;
  border-radius: 50px;
}

header h1 {
  color: white;
  font-size: 2.7em;
  font-weight: 300;
}

header h2 {
  color: white;
  font-size: 1.5em;
  font-weight: 150;
}

header a {
  border: 1px solid #26a69a;
  border-radius: 290486px;
  color: white;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #26a69a;
  color: white;
}

/*
  Switch styles
*/

.switch {
	margin: 1em;
	text-align: center;
}

.switch label {
	font-size: 18px;
}

@media all and (max-width: 320px) {
  .switch label {
    font-size: 14px;
  }
}

.switch label .lever {
	background-color: #84c7c1;
	width: 55px;
}

@media all and (max-width: 320px) {
  .switch label .lever {
    width: 50px;
  }
}

.switch label .lever::after {
	background-color: #26a69a;
}

.switch label input[type="checkbox"]:checked + .lever::after {
	left: 37px;
}

/*
  Card styles
*/

@media all and (max-width: 768px) {
  .card-link {
    margin-bottom: 1em !important;
  }
}

.more-info-link {
  cursor: pointer;
}

.container h1 {
  text-align: center;
  font-size: 2.7em;
  font-weight: 300;
}

.container hr {
  width: 200px;
  margin-bottom: 2em;
}

.header-back-link {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.header-back-link:hover {
  color: #26a69a;
}

.scroll-top-link {
  text-align: center;
  margin: 0 auto 50px auto;
  cursor: pointer;
}

.scroll-top-link:hover {
  color: #26a69a;
}

.container p {
  margin-bottom: 3em;
}

/*
  Development-Process styles
*/

.blog-container {
  width: 60%;
}

@media all and (max-width: 768px) {
  .blog-container {
    width: 70%;
  }
}

.blog-container p {
  padding: 2em 0em;
  font-size: 17px;
}

.blog-container a {
  border-bottom: 1px solid;
}

.blog-container a:hover {
  border-bottom: none;
}

.blog-container img:hover {
  opacity: 0.7;
}

.responsive-img-text > p {
  text-align: center;
  opacity: 0.6;
  font-size: 0.9em;
}

/*
  Image styles
*/

.responsive-img {
  margin-bottom: 1em;
}

@media all and (max-width: 600px) {
  .responsive-img {
    margin-bottom: 2em;
  }
}

.shoot-main-img {
  cursor: pointer;
}

.caption {
  text-align: center;
  cursor: pointer;
}

.caption:hover {
  color: #26a69a;
}

.shoot-img {
  margin-bottom: 4em;
}

.image-overlay-container {
  position: absolute;
}

.image-overlay-container i {
  padding-top: 5px;
  color: white;
}

.image-overlay-container i:hover {
  cursor: pointer;
  color: #9E4396;
}

@media all and (max-width: 375px) {
  .image-overlay-container i {
    font-size: 3em;
  }
}

/*
  Contact FAB Button Styles
*/

.btn-floating {
  background-color: #26a69a;
}

.btn-floating:hover {
  background-color: #26a69a;
}

@media all and (max-width: 768px) {
  .fixed-action-btn {
    right: 10px;
    bottom: 10px;
  }
}

@media all and (max-width: 375px) {
  .btn-floating.btn-large {
    width: 45.5px;
    height: 45.5px;
  }
}

@media all and (max-width: 375px) {
  .btn-floating.btn-large i {
    line-height: 45.5px;
  }
}

@media all and (max-width: 375px) {
  .fixed-action-btn.horizontal ul {
    right: 45px;
    top: 34%;
  }
}

/*
  Animate.css entries
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* https://scotch.io/tutorials/animating-angularjs-apps-ngview
  Page-level styles

.ng-enter {
  z-index: 8888; 
}

.ng-leave { 
  z-index: 9999; 
}

.developer.ng-enter { 
  animation: slideInLeft 0.5s both ease-in;
  -webkit-animation:slideInLeft 0.5s both ease-in;
  -moz-animation:slideInLeft 0.5s both ease-in; 
}

.developer.ng-leave { 
  animation: slideOutRight 0.5s both ease-in;
  -webkit-animation:slideOutRight 0.5s both ease-in;
  -moz-animation:slideOutRight 0.5s both ease-in;
}

.photographer.ng-enter { 
  animation: slideInRight 0.5s both ease-in; 
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
}

.photographer.ng-leave { 
  animation: slideOutLeft 0.5s both ease-in;
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
}


/* ANIMATIONS
============================================================================= 

/* leaving animations ----------------------------------------- 

/* slide out from the left 
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* slide out from the right 
@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {  
  to    { -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
  to    { -webkit-transform: translateX(100%); }
}

/* entering animations --------------------------------------- 

/* slide in from the right 
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

/* slide in from the left 
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
*/